﻿<div class="modal-dialog">
    <div class="modal-content">
        <form id="form1" name="form1" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">New music</h3>
            </div>

            <div class="modal-body">

                <table>
                    <tr>
                        <td>Name: </td>
                        <td>
                            <input type="text" maxlength="100" ng-model="input.musicName" name="cName" required />
                            <span class="error-message" ng-show="(form1.$submitted || form1.cName.$touched) && form1.cName.$error.required">This field is required.</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Title: </td>
                        <td>
                            <input type="text" maxlength="100" ng-model="input.musicTitle" name="cTitle" required />
                            <span class="error-message" ng-show="(form1.$submitted || form1.cTitle.$touched) && form1.cTitle.$error.required">This field is required.</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Album: </td>
                        <td>
                            <input type="text" maxlength="100" ng-model="input.musicAlbum" name="cAlbum" />
                        </td>
                    </tr>

                    <tr>
                        <td>Genre: </td>
                        <td>
                            <input type="text" maxlength="50" ng-model="input.musicGenre" name="cGenre" />
                        </td>
                    </tr>

                </table>

            </div>

            <div class="modal-footer">
                <button class="btn2 btn2-default" ng-click="cancel()">Close</button>
                <button class="btn2 btn2-primary" ng-click="form1.$valid && ok()">Save changes</button>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
