﻿<div class="modal-dialog">
    <div class="modal-content">
        <form id="form1" name="form2" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">Add Playlist</h3>
            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td>Playlist name: </td>
                        <td>
                            <input type="text" maxlength="100" ng-model="PlayListName.Name" name="pName" required />
                            <span class="error-message" ng-show="(form2.$submitted || form2.pName.$touched) && form2.pName.$error.required">This field is required.</span>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="modal-footer">
                <button class="btn2 btn2-default" ng-click="cancel()">Close</button>
                <button class="btn2 btn2-primary" ng-click="form2.$valid && ok()">Save changes</button>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
