﻿<div class="modal-dialog">
    <div class="modal-content">
        <form id="form2" name="form2" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">Edit music</h3>
            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td>Name: </td>
                        <td>
                            <input type="text" maxlength="100" ng-model="MusicSel.Name" name="cName" required />
                            <span class="error-message" ng-show="(form2.$submitted || form2.cName.$touched) && form2.cName.$error.required">This field is required.</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Title: </td>
                        <td>
                            <input type="text" maxlength="100" ng-model="MusicSel.Title" name="cTitle" required />
                            <span class="error-message" ng-show="(form2.$submitted || form2.cTitle.$touched) && form2.cTitle.$error.required">This field is required.</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Album: </td>
                        <td>
                            <input type="text" maxlength="100" ng-model="MusicSel.Album" name="cAlbum" />
                        </td>
                    </tr>

                    <tr>
                        <td>Genre: </td>
                        <td>
                            <input type="text" maxlength="50" ng-model="MusicSel.Genre" name="cGenre" />
                        </td>
                    </tr>

                </table>

            </div>

            <div class="modal-footer">
                <button class="btn2 btn2-default" ng-click="cancel()">Close</button>
                <button class="btn2 btn2-primary" ng-click="form2.$valid && ok()">Save changes</button>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
