﻿<br />
<!--buttons-->
<form class="navbar-form navbar-left" style="padding-left: 0px">
    <button class="btn btn-primary" type="button" ng-click="AddMusicModal()">Add new music</button>
    <button class="btn btn-primary" type="button" ng-click="AddPlayListModal()">Add new playlist</button>
</form>

<!--dropdown-->
<form class="navbar-form navbar-left">
    <select class="form-control" name="singleSelect" id="singleSelect" ng-model="data.singleSelectMusic">
        <option value="">---Search by---</option>
        <option value="Name">Name</option>
        <option value="Title">Title</option>
        <option value="Album">Album</option>
        <option value="Genre">Genre</option>
    </select>
    <!--search-->
    <div class="form-group">
        <input type="text" class="form-control" ng-model="input.SearchMusic" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default" ng-click="SearchMusic()">Submit</button>
</form>

<br />
<br />

<!--table-->
<table class="table table-bordered table-hover">
    <tr style="background-color: black; color: white;">
        <th><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>
        <th>Name</th>
        <th>Title</th>
        <th>Album</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="music in MusicList | orderBy:'Name'" ng-class="{selected: music.isChecked}" >       
        <td><input type="checkbox" ng-model="music.isChecked" ng-change="selectMusicCheckbox()"></td>
        <td>{{ music.Name }}</td>
        <td>{{ music.Title }}</td>
        <td>{{ music.Album }}</td>
        <td>{{ music.Genre }}</td>
        <td><a ng-click="EditMusicModal(music)">edit</a> | <a ng-click="deleteMusic(music.MusicID)">delete</a>
        </td>
    </tr>
</table>


<div ui-view id="MP3Form"></div>
