﻿<div ui-view="details">
    <h2>Playlist details</h2>
    <br/>
    <form id="form4" name="form4" novalidate>
        <table>
            <tr>
                <td>Name: </td>
                <td>
                    <input type="text" maxlength="100" ng-model="PlayListName" ng-change="change(PlayListName)" name="PName" required autofocus />
                    <button class="btn btn-primary btn-sm" ng-click="form4.$valid && ok()">Save playlist name</button>
                    <span class="error-message" ng-show="(form4.$submitted || form4.PName.$touched) && form4.PName.$error.required">This field is required.</span>
                </td>
            </tr>

        </table>
        <br />
        <div ng-repeat="mp in MusicPlayList | orderBy:'Name'">
            <span>{{ $index + 1 }}. {{ mp.Name }} - {{ mp.Title }} - {{ mp.Album }} - {{ mp.Genre }}</span>
        </div>
    </form>
</div>
