﻿<!--dropdown-->
<div class="playlistView" style="width: 50%; float:left">
    <form class="navbar-form navbar-left" style="width: 100%; padding-left: 0px">
        <!--search-->
        <div class="form-group">
            <input type="text" class="form-control" ng-model="input.SearchPlayList" placeholder="Search by name">
        </div>
        <button type="submit" class="btn btn-default" ng-click="SearchPlayList()">Submit</button>
    </form>
    <br />
    <table id="PlaylistTable" class="table table-bordered table-hover" style="width: 80%">
        <thead>
            <tr style="background-color: black; color: white;">
                <th class="col-sm-1"></th>
                <th class="col-sm-8">Name</th>
                <th class="col-sm-3">Action</th>
            </tr>
        </thead>
        <tbody ng-repeat="play in PlayList">
            <tr ng-class-even="'even'" ng-class-odd="'odd'">
                <td>{{ $index + 1 }}</td>
                <td>{{ play.Name }}</td>
                <td><a ng-href="#/playlist/{{play.PlayListID}}" ng-click="PlayListDetails(play)">details</a> | <a ng-click="deletePlayList(play.PlayListID)">delete</a></td>
            </tr>     

        </tbody>
    </table>
</div>
<div ui-view id="PlaylistDetails1" style="float:left"></div>
