﻿@{
    ViewBag.Title = "Index";
}

<header>
    <a ui-sref="home">
        <h1>MP3 player</h1>
    </a>
</header>

<nav class="main-nav">
     <a ui-sref="music">MP3 list</a> | <a ui-sref="playlist">Playlist</a>
</nav> 


<div ui-view id="ListDetails1" ></div>


