﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/table.css" rel="stylesheet" type="text/css" />

    <!-- alertify.css  modified version-->
    <link href="~/css/alertify/alertify.css" rel="stylesheet" type="text/css" />
    <link href="~/css/alertify/default.css" rel="stylesheet" type="text/css" />


</head>
<body ng-app="MP3App" style="padding-left: 10px">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- modal part -->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/modal.css">

    <script src="~/Scripts/alertify/alertify.js" type="text/javascript"></script>

    <script src="~/Scripts/MP3AngularJS/app.js"></script>
    <script src="~/Scripts/MP3AngularJS/controller.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
